

.product-card,
.product-card-button {
  filter: drop-shadow(2px 2px 2px rgba(1, 1, 1, 0.4));
}

.product-card-button:hover {
transform: scaleX(1.05);
}

.popup {
  width: 500px;
  z-index: 10;
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 2px solid rgb(86, 85, 85);
  text-align: center;
  padding: 60px;
color: #000000;
font-size: 20px;
font-weight: 600;
filter: drop-shadow(2px 2px 2px #f198d9);
  button {
    background-color: rgb(2 25 60);
    width: 100px;
    height: 40px;
    border-radius: 8px;
    color: white;
    filter: drop-shadow(2px 2px 2px #a6bad8);
  }
  button:hover{
    background-color: #1f3049;
   filter: drop-shadow(2px 2px 2px #7f96b8);
    font-weight: 700;
  }
}

.price-filter input, button{
  height: 40px;
  border-radius: 5px;
  width: 130px;
  border:2px solid rgb(206, 201, 201);
  font-weight: 600;
  color: #000000;
}